[Desktop Entry]
Comment=Managing WiFi profiles
Comment[pl]=Zarządzanie profilami WiFi
Exec=/usr/bin/wifi-radar.sh
GenericName=WiFi Radar
Icon=wifi-radar
Name=WiFi Profile Configuration
Name[pl]=Konfiguracja profili WiFi
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;Settings;
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=true
X-KDE-Username=root
# vi:encoding=utf-8
